#map { width: 100%; height: 600px; }


body {
margin: 20px 50px;
height: 100%;
}

div#loc,
div#filters{
  border: black solid 1px;
  margin-top: 50px;
  border-radius: 15px;
  /* Cache ce qu'il dépasse de la border */
  overflow: hidden;
}

div#filters-content{
  margin: 20px;
  text-align: center;
}

.header {
border-radius: 15px;
padding: 20px;
text-align: center;
background-color: rgb(75, 125, 190);
/* color: blueviolet; */
color: white;
}


h2 {
  text-align: center;
  padding: 25px;
  margin-bottom: 25px;
  background-color: lightblue;
  border-radius: 15px;
}

h3.popup {
  text-align: center;
  padding: 15px;
  background-color: lightblue;
  border-radius: 15px;
  margin-bottom: 0px;
  width: 100%;
}

h5 {
  text-align: center;
  margin-top: 10px;
}



.footer {
background-color: lightgray;
text-align: center;
padding: 10px;
height: 50px;
margin-bottom: 10px;
margin-top: 50px;
border-radius: 15px;
border: black solid 1px;
}


.ville-button, .pays-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-decoration: underline;
}

.ville-button:hover, .pays-button:hover {
  text-decoration: none;
  background-color: transparent;
}



.artist-columns {
  margin-top: 10px;
  display: flex;
  flex-direction: row; /* Alignement horizontal */
  flex-wrap: nowrap; /* Les colonnes ne se plient pas à la ligne */
  text-align: center;
}

.artist-column1 {
  flex: 1; /* Chaque colonne prend une part égale de l'espace disponible */
  min-width: 140px; /* Largeur minimale de chaque colonne (ajustez selon vos besoins) */
}

.artist-column2 {
  flex: 1; /* Chaque colonne prend une part égale de l'espace disponible */
  min-width: 152px; /* Largeur minimale de chaque colonne (ajustez selon vos besoins) */
  margin-left: 10px; /* Espacement entre les colonnes */
  border-left: 2px solid #ccc; /* Ajoute un séparateur entre les colonnes */
  padding-left: 10px; /* Ajoute un espacement entre le texte et le séparateur */
}

.centered-table {
  max-width: 100%;
  min-width: 300px;
  text-align: center;
  border-collapse: separate; /* Pour permettre le style de bordure */
  border-spacing: 1px; /* Espace entre les cellules (ajustez selon vos préférences) */
  /* Bordure extérieur 2px */
  border: 2px solid #000;
}

.centered-table th, .centered-table td {
  padding: 5px;
  width: 50%;
  border: 1px solid #ccc; /* Style de bordure pour les th et td */
}

.centered-table th {
  background-color: #f2f2f2; /* Arrière-plan pour les cellules d'en-tête (th) */
}

.centered-table td {
  background-color: #fff; /* Arrière-plan pour les cellules de données (td) */
}


.leaflet-popup-content {
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 15px;
  
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  /* Ajouter de la transparence à la popup */
  /* background-color: rgba(255,255,255,0.5); */
}



#search-artist-container {
  margin: 20px 0;
  text-align: center;
}

.search-label {
  display: block;
  font-weight: bold;
}

#artist-search {
  width: 500px;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  text-align: center; /* Centrer le texte dans la zone de recherche */
}

#artist-suggestions {
  display: none;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-button {
  padding: 5px 15px;
  height: 50px;
  background-color: darkcyan; /* Couleur du bouton */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

#search-button:hover {
  background-color: #0056b3;
}



/* Style du libellé des filtres */
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

/* Style du conteneur du curseur d'âge */
#age-slider-container {
  width: 300px; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Pour centrer horizontalement */
  text-align: center; /* Pour centrer le contenu à l'intérieur du conteneur */
  margin-top: 10px; /* Réglez la marge supérieure selon vos préférences */
}


/* Style du curseur d'âge */
#age-slider {
  margin-top: 5px;
}

/* Style de la plage d'âge sélectionnée */
#selected-age-range {
  margin-top: 10px;
  /* font-weight: bold; */
}

#genre-select{
  margin-top: 10px;
  text-align: center;  
}

/* Conteneur de colonnes pour les filtres */
.filter-columns {
  display: flex;
  justify-content: space-between;
}

/* Style de chaque colonne de filtre */
.filter-column {
  flex: 1;
  margin: 0 10px; /* Ajustez la marge entre les colonnes selon vos préférences */
}


/* Style des cases à cocher */
.checkbox-container {
  display: inline-block;
  cursor: pointer;
}

/* Style des cases à cocher réelles */
input[type="checkbox"] {
  display: none; /* Masque la case à cocher réelle */
}

/* Style du texte "Vivant" et "Mort" à côté des cases à cocher */
label[for="alive-checkbox"], label[for="dead-checkbox"] {
  display: inline-block;
  padding: 10px 20px; /* Ajustez le rembourrage selon vos préférences */
  background-color: gray; /* Couleur de fond par défaut */
  color: white; /* Couleur du texte par défaut */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s; /* Animation de transition */
}

/* Style de la case à cocher cochée */
input[type="checkbox"]:checked + label {
  background-color: darkcyan; /* Fond bleu lorsque la case est cochée */
}

#results-count {
  text-align: center;
  background-color: lightcyan;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
