.bar {
    fill-opacity: 0.6;
}

.axis {
    font-size: 14px;
}

.legend {
    font-size: 12px;
}

#legend-container {
    position: absolute;
    top: 20px;
    left: 20px;
}




#sort-form {
position: absolute;
top: 10px;
right: 10px;
background-color: rgba(255, 255, 255, 0.7);
padding: 10px;
border-radius: 8px;
}

#filter-form {
position: absolute;
top: 60px;
right: 10px;
background-color: rgba(255, 255, 255, 0.7);
padding: 10px;
border-radius: 8px;
}

#color-filter-form {
position: absolute;
top: 120px;
right: 10px;
background-color: rgba(255, 255, 255, 0.7);
padding: 10px;
border-radius: 8px;
}





.infobox {
position: absolute;
padding: 10px;
background: rgba(255, 255, 255, 0.9);
border: 1px solid black;
border-radius: 5px;
pointer-events: none;
max-width: 250px; /* ou une autre valeur qui vous convient */
word-wrap: break-word; /* pour gérer les longs mots ou URLs */
}
