* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}


header {
    text-align: center;
    padding: 50px;
    background-color: #e7f0fa; 
}

#main-title {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #003366; 
}

#subtitle {
    font-size: 1.2em;
    color: #007acc; 
}


.control-panel,
.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: left;
}

.control-panel {
    position: fixed;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.control-form {
    background-color: #e6f2ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 2px solid #003366; 
}

.control-form select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%; 
}


.control-form select, .infobox {
    transition: all 0.3s ease;
}

.control-form select:hover, .infobox:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}


#chart-container {
    margin: 20px;
}

.bar {
    fill: #007acc;
    fill-opacity: 0.7;
    transition: fill-opacity 0.3s;
}

.bar:hover {
    fill-opacity: 1;
    fill: #005b99; 
}

.axis {
    font-size: 12px;
    color: #333;
}

.legend {
    font-size: 12px;
    color: #666;
}

#legend-container {
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 200px;
    background-color: #e6f2ff; 
    border: 2px solid #003366; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 200px; 
}


.infobox {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.05);
    padding: 10px;
    max-width: 250px;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}



